@mixin onTablet {
    @media (min-width: 768px) {
      @content;
    }
  }


@mixin contentPaddingInline() {
    padding-inline: 15px;

    @include onTablet() {
        padding-inline: 20px;
    }
}


@mixin pageGrid {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    column-gap: 25px;
}