$first-color-text: #707070;
$second-color-text:#2A86E5;
$third-color-text: #0DD0BA;
$user-color: #B3B3B1;

$white-color-text: #FFFFFF;

$first-bg-color:  #FFFFFF;
$second-bg-color: rgba(217, 217, 217, 0.2);
