.footer {
    background-color: $second-bg-color;  

    &__wrapper {
        background: linear-gradient(90deg, #0DD0BA 0%, #2A86E5 100%);
        border-radius: 40px; 
        padding: 20px;
        margin-bottom: 25px;

        @include onTablet {
            @include pageGrid
        }

        @include onDesktop {
            @include contentPaddingInline();
            align-items: center;
        }
    }

    &__card {
        background-color: $first-bg-color;
        border-radius: 20px;
        margin-bottom: 25px;

        @include onTablet {
            grid-column: span 6;
        }

        @include onDesktop {
            grid-column: span 5;
        }
    }

    &__logo {
        font-weight: 400;
        font-size: 30px;
        line-height: 23px;
        text-align: center;
        padding: 72px 72px 0px 72px;
        color: black;
        margin-bottom: 65px;
    }

    &__desc {
        color: $third-color-text;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        padding-inline: 30px;
        margin-bottom: 25px;

        @include onTablet {
            width: 80%;
            margin: 0 auto;
        }

        @include onDesktop {
            width: 100%;
        }

        &--mb {
            margin-bottom: 10px;
        }
    }

    &__social{
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
        gap: 5px;

        @include onTablet {
            margin-top: 30px;
        }
    }

    &__icon {
        display: block;
        width: 37px;
        height: 37px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: $white-color-text;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-bottom: 20px;

        @include onTablet {
            grid-column: span 2;
        }

        &--grid1 {
            @include onDesktop {
                grid-column: 6/7;
            }
        }

        &--grid2 {
            @include onDesktop {
                grid-column: 7/10;
            }
        }

        &--grid3 {
            @include onDesktop {
                grid-column: 10/13;
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__link {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: $white-color-text;
    }

    &__links {
        color: $white-color-text;

        @include onTablet {
            display: none;
        }
    }

    &__telnone {
        display: none;

        @include onTablet {
            display: block;
        }
    }

    &__parag {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        font-style: italic;
        color: $white-color-text;

        @include onTablet {
            grid-column: 2/-2;
        }
    }

    &__containerdesk {
        padding-inline: 20px;
    }

}