.section {

    background-color: rgba(217, 217, 217, 0.2);  

    &__content {
        @include contentPaddingInline();
        padding-top: 20px;
        padding-bottom: 130px;
    }

    &__crumbs {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: $first-color-text;

        @include onTablet {
            text-align: left;
        }

        @include onDesktop {
            grid-column: span 12;
        }
    }

    &__title {
        background: linear-gradient(90deg, #0DD0BA 0%, #2A86E5 100%);
        background-clip: text;
        color: transparent;
        font-weight: 900;
        font-size: 35px;
        line-height: 45.5px;
        text-align: center;
        margin-bottom: 20px;

        @include onTablet {
            font-size: 42px;
            line-height: 54px;
            text-align: left;
        }

        @include onDesktop {
            grid-column: span 8;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $first-color-text;
        margin-bottom: 60px;

        @include onDesktop {
            grid-column: span 8;
        }
    }

    &__titlesecond {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: $first-color-text;

        @include onDesktop {
            grid-column: span 3;
        }

        &::after {
            content: '';
            width: 45;
            height: 8;
            background: linear-gradient(90deg, #0DD0BA 0%, #2A86E5 100%);
            display: block;
            border-radius: 20px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    &__article {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include onTablet {
            @include pageGrid;
        }
    }

    &__grid {
        @include onDesktop {
            @include pageGrid
        }
    }

    &__gridcard {
        @include onDesktop {
            grid-column: 10/13;
        }
    }

    &__none {
        display: none;

        @include onDesktop {
            display: block;
        }

    }

    &__coll {
        @include onDesktop {
            grid-column: span 12;
        }
    }

    &__grids {
        @include onDesktop {
            grid-column: spa;
            margin-bottom: 20px;
        }
    }

    .article {

        &__card {
            padding: 20px;
            background-color: $first-bg-color;
            border-radius: 20px;

            @include onTablet {
                grid-column: span 3;
            }

            &--grid1 {
                @include onDesktop {
                    grid-column: span 6;
                }    
            }

            &--grid2 {
                @include onDesktop {
                    grid-column: span 6;
                }    
            }

            &--grid3 {
                @include onDesktop {
                    grid-column: span 6;
                }    
            }

            &--grid4 {
                @include onDesktop {
                    grid-column: span 6;
                }    
            }

        }

        &__img {
            width: 100%;
            border-radius: 20px;
            margin-bottom: 18px;
        }

        &__title {
            font-weight: 700;
            font-size: 22px;
            line-height: 26.5px;
            text-align: center;
            color: $second-color-text;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &__user {
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        &__desc {
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: $user-color;
            display: inline-flex;
            gap: 5px;
            align-items: center;

            &--user::before {
                content: '';
                background-image: url(../images/icon/clock.svg);
                display: block;
                width: 12px;
                height: 12px;
            }

            &--clock::before {
                content: '';
                background-image: url(../images/icon/user.svg);
                display: block;
                width: 12px;
                height: 12px;
            }

        }
    }

}    