.article {
    background-color: white;

    @include onDesktop {
        background-color: rgba(217, 217, 217, 0.2); 
    }

    &__content {
        background-image: url(../images/anime.png);
        background-color: rgba(22, 28, 58, 0.5);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 130px;
        border-radius: 30px;
        position: relative;
        box-shadow: 0 5px 15px #00000059;
        z-index: 1;
       
        &::before {
            z-index: 1;
            content: '';
            background-color: rgba(22, 28, 58, 0.8);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 30px;
        }
    }

    &__imganime {
        position: absolute;
        z-index: 2;
        left: 20px;
        top: 20px;
        bottom: 20px;
    }

    &__titleanime {
        text-align: center;
        color: white;
        position: absolute;
        z-index: 2;
        left: 125px;
        right: 35px;
        top: 35px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;

        @include titleAnime {
            top: 50px;
        }

        @include onTablet {
            top: 50px;
        }

        @include onDesktop {
            text-align: left;
            top: 30px;
        }
    }

    &__info {
        display: flex;
        gap: 10px;
        padding-block: 10px;
        align-items: center;
        justify-content: center;

        @include onDesktop {
            display: none;
        }
    }

    &__par {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #707070;
    }

    &__button {
        display: flex;
        gap: 10px;
    }

    &__btn {
        display: none;

        @include onDesktop {
            color: white;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            display: block;
            position: relative;
            z-index: 4;
            border-radius: 17px;
            border: 1px white solid;
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px;
            left: 125px;
            top: 70px;
            cursor: pointer;

            &:hover {
                background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
            }

            &--android::before {
                content: '';
                background-image: url(../images/icon/btn3.svg);
                width: 14px;
                height: 14px;
            }

            &--ios::before {
                content: '';
                background-image: url(../images/icon/btn1.svg);
                width: 14px;
                height: 14px;
            }

            &--download::before {
                content: '';
                background-image: url(../images/icon/btn2.svg);
                width: 14px;
                height: 14px;
            }

            &__btnbg {
                background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
            }
        }
    }


    &__wrapper {
        display: none; 

        @include onDesktop {
            display: block;
            padding-block: 30px;
            background-color: white;
            border-radius: 0 0 40px 40px;
    
            position: relative;
            top: -25px;          
        }
    }

}

.wrapper {
    &__lists {
        position: relative;
        top: 10px;
        display: flex;
        gap: 20px;
        left: 20px;
    }

    &__item {
        display: flex;
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #707070;

        &::after {
            content: '';
            border: 0.5px #707070 solid;
        }
    }
}