.icon {
    display: block;
    width: 29px;
    height: 29px;
    transition: transform .5s;

    &:hover {
        transform: scale(1.4);
    }


    &--fb {
        background-image: url(../images/icon/a.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--twitter {
        background-image: url(../images/icon/a-1.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--instagram {
        background-image: url(../images/icon/a-2.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--youtube {
        background-image: url(../images/icon/a-3.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--google {
        background-image: url(../images/icon/a-4.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--wifi {
        background-image: url(../images/icon/a-5.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--burger {
        background-image: url(../images/icon/burger.svg);
        background-repeat: no-repeat;

        @include onDesktop {
            display: none;
        }
    }

    &--close {
        background-image: url(../images/icon/close.svg);
        background-repeat: no-repeat;
    }

    &--search {
        background-image: url(../images/icon/button.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        position: absolute;
        right: 20px;
        top: -5px;
        cursor: pointer;
    }

    &--tel {
        background-image: url(../images/icon/i.svg);
        background-repeat: no-repeat;
        background-position: 60% 45%;
    }

    &--filter {
        background-image: url(../images/icon/i-1.svg);
        background-repeat: no-repeat;
        background-position: 60% 45%;
    }

    &--android {
        background-image: url(../images/icon/i-2.svg);
        background-repeat: no-repeat;
        background-position: 60% 45%;
    }

    &--ios {
        background-image: url(../images/icon/i-3.svg);
        background-repeat: no-repeat;
        background-position: 60% 45%;
    }

    &--ffb {
        background-image: url(../images/icon/footer5.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
        transition: transform .5s;

            &:hover {
        transform: scale(1.4);
    }

    }

    &--ftwitter {
        background-image: url(../images/icon/footer.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
        transition: transform .5s;

            &:hover {
        transform: scale(1.4);
    }

    }

    &--finstagram {
        background-image: url(../images/icon/footer1.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
        transition: transform .5s;

            &:hover {
        transform: scale(1.4);
    }

    }

    &--fyoutube {
        background-image: url(../images/icon/footer2.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
        transition: transform .5s;

            &:hover {
        transform: scale(1.4);
    }

    }

    &--fgoogle {
        background-image: url(../images/icon/footer3.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
        transition: transform .5s;

            &:hover {
        transform: scale(1.4);
    }

    }

    &--fwifi {
        background-image: url(../images/icon/footer4.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
        transition: transform .5s;

            &:hover {
        transform: scale(1.4);
    }

    }

    &--telw {
        background-image: url(../images/icon/white3.svg);
        background-position: 65% 40%;
        background-repeat: no-repeat;
    }

    &--filterw {
        background-image: url(../images/icon/white1.svg);
        background-position: 65% 40%;
        background-repeat: no-repeat;
    }

    &--androidw{
        background-image: url(../images/icon/white2.svg);
        background-position: 65% 40%;
        background-repeat: no-repeat;
    }

    &--iosw{
        background-image: url(../images/icon/white4.svg);
        background-position: 65% 40%;
        background-repeat: no-repeat;
    }

}