.icon {
    display: block;
    width: 29px;
    height: 29px;

    &--fb {
        background-image: url(../images/icon/a.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--twitter {
        background-image: url(../images/icon/a-1.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--instagram {
        background-image: url(../images/icon/a-2.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--youtube {
        background-image: url(../images/icon/a-3.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--google {
        background-image: url(../images/icon/a-4.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--wifi {
        background-image: url(../images/icon/a-5.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--burger {
        background-image: url(../images/icon/burger.svg);
        background-repeat: no-repeat;
    }

    &--close {
        background-image: url(../images/icon/close.svg);
        background-repeat: no-repeat;
    }

    &--search {
        background-image: url(../images/icon/button.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: 20px;
    }

    &--tel {
        background-image: url(../images/icon/i.svg);
        background-repeat: no-repeat;
        background-position: 60% 45%;
    }

    &--filter {
        background-image: url(../images/icon/i-1.svg);
        background-repeat: no-repeat;
        background-position: 60% 45%;
    }

    &--android {
        background-image: url(../images/icon/i-2.svg);
        background-repeat: no-repeat;
        background-position: 60% 45%;
    }

    &--ios {
        background-image: url(../images/icon/i-3.svg);
        background-repeat: no-repeat;
        background-position: 60% 45%;
    }

    &--ffb {
        background-image: url(../images/icon/footer5.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--ftwitter {
        background-image: url(../images/icon/footer.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--finstagram {
        background-image: url(../images/icon/footer1.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--fyoutube {
        background-image: url(../images/icon/footer2.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--fgoogle {
        background-image: url(../images/icon/footer3.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--fwifi {
        background-image: url(../images/icon/footer4.svg);
        background-position: 50% 35%;
        background-repeat: no-repeat;
    }

    &--telw {
        background-image: url(../images/icon/white3.svg);
        background-position: 65% 40%;
        background-repeat: no-repeat;
    }

    &--filterw {
        background-image: url(../images/icon/white1.svg);
        background-position: 65% 40%;
        background-repeat: no-repeat;
    }

    &--androidw{
        background-image: url(../images/icon/white2.svg);
        background-position: 65% 40%;
        background-repeat: no-repeat;
    }

}