.menu {
    height: 100vh;
  
    overflow: auto; /* to scroll the menu if needed */

    &__content {
        @include contentPaddingInline();

        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 60px;

        @include onTablet {
            gap: 75px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    &__link{
        color:$third-color-text;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;

        transition: transform .5s;

        &:hover::after {
            transform: scale(1);
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            bottom: 1px;
            height: 1px;
            background-color: $third-color-text;
            transition: transform .5s;
            transform: scale(0);
            transform-origin: left;
        }

        &:hover {
            transform: scale(1.1);
            color: $third-color-text;
        }

    }

    &__logo {

        text-transform: uppercase;
        color: #000;
        font-size: 30px;
        font-weight: 400;
        line-height: 23px;
        transition: transform .5s;

        &:hover {
            transform: scale(1.05);
        }
    }  

    &__newitems {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        @include onTablet {
            flex-direction: row;
            justify-content: center;
            gap: 40px;
        }
    }

    &__newlink {
        display: flex;
        align-items: center;
        color: $first-color-text;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        transition: transform .5s;
        

        &:hover::after {
            transform: scale(1);
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            bottom: 1px;
            height: 1px;
            background-color: $first-bg-color;
            transition: transform .5s;
            transform: scale(0);
            transform-origin: left;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__text {
        color: $white-color-text;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }

    &__none {
        display: none;

        @include onDesktop {
            display: flex;
        }
    }

}

.form {

    &__label {
        position: relative;
    }

    &__input {
        border-radius: 40px;
        border: none;
        width: 100%;
        height: 40px;
        background-color: #EEEEEE;
        padding-left: 20px;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid $third-color-text;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.assidethemeswitcherjs {
    height: 30px;
    width: 55px;
    background-color: white;
    position: relative;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &::before {
        content: '';
        position: absolute;
        height: 25px;
        width: 25px;
        background-color: #0DD0BA;
        border-radius: 50%;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all .5s;
    }

    &.active::before {
        background-color: #0E1219;
        left: calc(100% - 25px - 2px);
        transition: all .5s;
    }
}

.contentjs {
    &.dark {
        background-color: #0E1219;
    }
}

.bottomjs {
    &.dark {
        background-color: #0E1219;
    }
}

.textwitejs {
    &.white {
        color: white;
    }
}
