.page {
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.5px;
    scroll-behavior: smooth;

    &:has(.page__menu:target) {
        overflow: hidden; /* not to scroll the page */
    }

    &__menu {
        position: fixed;
        // top: 0;
        top: 50px;
        left: 0;
        right: 0;
    
        opacity: 0;
        transition: all 0.5s;
        transform: translateX(0);
        pointer-events: none;
    
        background-color: white;
    
        &:target {
            opacity: 1;
            transform: translateX(0);
            pointer-events: all;
            z-index: 3;
        }
    }

    &__body {
        min-width: 380px;
    }
}

.go {
    &__back {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-weight: 700;
        color: #FFFFFF;
        background-color: $third-color-text;
        position: fixed;
        bottom: 25px;
        right: 25px;
        padding: 25px;
        border-radius: 100px;
        transition: transform .5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.main {
    background-color: rgba(217, 217, 217, 0.2);  
    transition: all 0.5;

    &.dark {
        background-color: #0E1219;
    }
}
