.header {

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
        background: linear-gradient(90deg, #0DD0BA 0%, #2A86E5 100%);

        @include onDesktop {
            padding-inline: 200px;
        }
    
    }

    &__social {
        display: flex;
        gap: 5px;

        @include onTablet {
            margin-left: 50px;
        }
    }
    
    &__tabletnav {
        @include onTablet {
            display: flex;
            gap: 20px;
        }
    }

    &__telnone {
        display: none;

        @include onTablet {
            display: block;
        }
    }
}

.themeswitcher {
    height: 30px;
    width: 55px;
    background-color: white;
    position: relative;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &::before {
        content: '';
        position: absolute;
        height: 25px;
        width: 25px;
        background-color: #0DD0BA;
        border-radius: 50%;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all .5s;
    }

    &.active::before {
        background-color: #0E1219;
        left: calc(100% - 25px - 2px);
        transition: all .5s;
    }
}
